			<div class="alert">
			  <strong>You are currently not a member of a Team!</strong> 
			  <br />
			  <br />
			  <p>It seems that you have not joined a team yet. You may join a team through your 
			  	<a href="/orgpanel">Organization Panel</a>, or you may create your own team. If you create your own team, you will be assigned the role of Team Leader.</p>
			  <br />
			  <br />
			  <center><a button class="btn btn-large" href="/newteam">Create Team</button></a>
			  </center>
			  <br />
			</div>
