<h2>About</h2>

TaskDeck is a piece of software designed for small to medium sized teams. It facilitates the process of task management, and ensures that work is done quickly and efficiently, and that workers stay on-task and productive. TaskDeck is great for new and emerging tech startups, as well as maturing small businesses. It is simple enough to be used by anyone.

<br />
<br />

TaskDeck 2012. <br />
Developed by Danish Ali Mughal. <br />
Designed with the aid of Twitter Bootstrap. <br />