<% provide(:title, 'TaskDeck') %>
<% @active = 1 %>

<% if signed_in? %>

<% if current_user.organization_id? %>
<br />
<div class="row">
    <aside class="span4">
      <%= render 'shared/side_menu' %>
    </aside>


    <div class="span8">
      Main Body.
    </div>


</div>



<!-- End of main page. These partials render the page for users who are not logged or do not have an organization -->

<% else %>
<%= render 'shared/no_organization'%>
<% end %>




<% else %>
<%= render 'shared/not_signed_in' %>
<% end %>