<% provide(:title, 'TaskDeck') %>


<div class="hero-unit">
  <h1>TaskDeck</h1>
  <p>A simple and clean way to manage the people and teams of your small organization or company. No clutter, with a simple work-focused design.</p>
  <p>
    <a class="btn btn-primary btn-large" href="/signup">
      Sign Up!
    </a>
  </p>
</div>
