<% provide(:title, 'TaskDeck') %>






<% if signed_in? %>

<% if current_user.organization_id? %>
<br />
    <aside class="span4">
      <section>
        <%= gravatar_for current_user, size: 100 %>
        <h3><%= current_user.name %></h3> 
        <strong>
          <%= current_user.email %><br />
          <%= current_user.organization.full_name %><br />
        </strong>
      </section>
<br />
<br />
      <section>
<div class="stats">
  <a href="#">
    <strong id="tasksassigned" class="stat">
      25
    </strong>
    Tasks Currently Assigned
  </a>
  <a href="#">
    <strong id="taskscompleted" class="stat">
      16
    </strong>
    Tasks Completed
  </a>
</div>
      </section>
      <section>
        <div>
        <ul class="nav nav-list">
          <li class="nav-header">
          </li>
          <li class="active">
            <a href="/">
            <i class="icon-home"></i>
              TaskDeck
            </a>
          </li>
          <li>
            <a href="#">
            <i class="icon-user"></i>
              Team Panel
            </a>
          </li>
          <li>
            <a href="#">
            <i class="icon-wrench"></i>
              Admin Panel
            </a>
          </li>
          <li>
            <a href="#">
            <i class="icon-asterisk"></i>
              Settings
            </a>
          </li>
        </ul>
        </div>
      </section>

    </aside>



<!--
      <div class="span4 pull-right">
        <a button class="btn btn-mini" href="#">
        <i class=" icon-wrench"></i>
        Edit Settings
        </button></a>
      </div>
-->




</div>


<% else %>
Welcome to TaskDeck! It seems that you are currently not in any company, group, or organization! You must create one or join one in order to use TaskDeck.
<br />
<br />

<div class="span4 offset1">
<p>Would you would like to create a TaskDeck for your organization? If you are an administrator or manager of your organization, this should be the option for you. 
  <br />
  <br />
  <br />
  <a button class="btn btn-large" href="/neworg">Create TaskDeck</button></a>
</p>
</div>

<div class="span4 offset1">
<p>If a TaskDeck already exists for your company/organization/group, enter the name and passcode of your organization in order to join it. 
  <br />
  <br />
    <br />
  <br />

  <a button class="btn btn-large" href="/join">Join Organization</button></a>
</div>


<br />
<br />
<br />
<br />
<br />
<br />
<% end %>




<% else %>



<div class="hero-unit">
  <h1>TaskDeck</h1>
  <p>A simple and clean way to manage the people and teams of your small organization or company. No clutter, with a simple work-focused design.</p>
  <p>
    <a class="btn btn-primary btn-large" href="/signup">
      Sign Up!
    </a>
  </p>
</div>

<% end %>