<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to TaskDeck, <%= @user.name %>!</h1>


You have successfully signed up for an account, and your email is: <%= @user.email %>. This email wil be used for all authentication purposes.<br/><br />

To login to the site, just follow this link: <a href="taskdeck.heroku.com/signin">Log in!</a>.
<br />
<br />

Thanks for joining and we hope you enjoy using TaskDeck! Let us know if you have any problems.
  </body>
</html>