<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Reminder from TaskDeck!</h1>


<strong>Reminder Name:</strong><%= " " + @reminder.name %><br />
<strong>Description:</strong><%= " " + @reminder.description %><br />

<br />

<br />
<br />
<br />

Brought to you by TaskDeck.
  </body>
</html>