<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= "Your Organization Password has been reset!"%></h1>


<strong>New Organization Password:</strong><%= " " + @newpassword %><br />
It is strongly recommended that you change this password to one of your own choice. 

<br />

You may visit your TaskDeck admin panel <a href="taskdeck.heroku.com/admin">here.</a>
<br />
<br />
<br />

Brought to you by TaskDeck.
  </body>
</html>