<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @user.name + " has requested to join your team."%></h1>


You may confirm or deny this potential member by following this link: <a href="taskdeck.heroku.com/team_management">Team Management Panel.</a> <br/><br />

Brought to you by TaskDeck.
  </body>
</html>