Welcome to TaskDeck! It seems that you are currently not in any company, group, or organization! You must create one or join one in order to use TaskDeck.
<br />
<br />

<div class="span4 offset1">
<p>Would you would like to create a TaskDeck for your organization? If you are an administrator or manager of your organization, this should be the option for you. 
  <br />
  <br />
  <br />
  <a button class="btn btn-large" href="/neworg">Create TaskDeck</button></a>
</p>
</div>

<div class="span4 offset1">
<p>If a TaskDeck already exists for your company/organization/group, enter the name and passcode of your organization in order to join it. 
  <br />
  <br />
    <br />
  <br />

  <a button class="btn btn-large" href="/join">Join Organization</button></a>
</div>


<br />
<br />
<br />
<br />
<br />
<br />
