<footer class="footer">
  <small>
    &copy; TaskDeck 2012
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '/about' %></li>
      <li><%= link_to "Contact", '/contact' %></li>
    </ul>
  </nav>
</footer>
