<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href= "/">
        TaskDeck
      </a>
      <nav>
      <div class="btn-group pull-right">

      <% if signed_in? %>
      <a button class="btn" href="/">Dashboard</button></a>
      <a button class="btn" href="/signout">Sign out</button></a>

      <% else %>
		  <a button class="btn" href="/signin">Sign in</button></a>
      <% end %>
	  </div>

      </nav>
    </div>
  </div>
</header>