<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href= "/">
        TaskDeck
      </a>
      <nav>



      <% if signed_in? %>

      <% if !current_user.organization_id.nil? %>
        <ul class="nav">
          <li class="active">
            <a><i class=" icon-globe icon-white"></i><%= " " + current_user.organization.full_name %></a>
          </li>
        </ul>
      <% end %>
      <div class="btn-group pull-right">

      <a button class="btn" href="/">        
        <i class="icon-home"></i>
          My TaskDeck
      </button></a>
      <a button class="btn" href="/signout">Sign out</button></a>
      </div>

        <ul class="nav pull-right">
          <li>
            <a href="/"><i class="icon-ok-sign icon-white"></i><%= " " + current_user.name %></a>
          </li>
        </ul>

      <% else %>
        <div class="btn-group pull-right">
		      <a button class="btn" href="/signin">Sign in</button></a>
        </div>

      <% end %>


      </nav>
    </div>
  </div>
</header>